export(Aci)
export(DewtoVPD)
export(esat)
export(FARAO)
export(fitaci)
export(fitacis)
export(fitBBOpti)
export(gamplot)
export(Photosyn)
export(RHtoVPD)
export(VPDtoRH)
S3method(coef,acifit)
S3method(coef,acifits)
S3method(fitted,acifit)
S3method(plot,acifit)
S3method(plot,acifits)
S3method(print,acifit)
S3method(summary,acifit)
